* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculadora {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: rgb(41, 43, 43);
  width: 400px;
  padding: 20px;
  gap: 20px;
  border-radius: 5px;
}

#prev-result {
  display: none;
}

.input {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 20px;
  background-color: #fff;
}

.botoes {
  display: flex;
}

.numeros {
  background-color: rgb(87, 87, 87);
  width: 100%;
  text-align: center;
  padding: 5px;
}

button {
  background-color: #222222;
  color: #fff;
  width: 20%;
  height: 50px;
  margin: 5px 5px;
  border-radius: 5px;
  border-bottom: 5px solid #000;
  cursor: pointer;
}

.numeros
  button:not(
    #parenteses1,
    #parenteses2,
    #porcentagem,
    #C,
    #div,
    #multi,
    #mais,
    #menos
  ) {
  background-color: #424242;
}

.numeros button#igual {
  background-color: rgb(27, 199, 4);
}
